.post-content code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.post-content code {
    font-size: 16px;
    color: #e96900;
    font-family: "LXGW WenKai Screen";
}

.post-content .highlight pre code {
    font-size: 0.7em;
}

.post-content .highlight:not(table), .post-content pre {
    box-shadow: 1px 5px 5px 1px rgb(144 164 174 / 60%);
    border-radius: var(--radius);
}

.dark .post-content .highlight:not(table), .post-content pre {
    box-shadow: 1px 5px 5px 1px rgb(5 10 15 / 60%);
    border-radius: var(--radius);
}
