.terms-tags {
    text-align: center;
}

.terms-tags a {
    background: none;
}
.terms-tags a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

    transform: scale(1.2);

    transition: box-shadow 0.4s ease, transform 0.4s ease;

}

.dark .terms-tags a {
    background: none;
}

.dark .terms-tags a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

    transform: scale(1.2);

    transition: box-shadow 0.4s ease, transform 0.4s ease;
}
