.toc {
    background: var(--entry);
}

.active {
    padding-bottom: 0.1rem;
}

.toc li {
    list-style: none;
    font-size: 0.90rem;
    padding-bottom: 5px;
}

.toc li a:hover {
    font-weight: 600;
    color: #42b983;
}
